	<style>
		.col-md-4{width:30%!important;}
		.col-md-8{width:70%!important;}
		#search_type{
			border:none;
			height:30px;
			margin-top:1px;
		}
		.indexinput{
			border:none;
			border-left:1px solid #ccc;
		}
		.indexform{
			border:1px solid #ccc;
			border-radius:5px;
		}
		.fr{
			float:right;
		}
		.no-shadow{
			border:none;
		}
		.app-header{
			z-index: 9999999;
		}
	</style>
	<div class="app-header white box-shadow" style="top:0px">
        <div class="navbar">
        	<ul class="nav navbar-nav pull-right">
        		<li class="nav-item dropdown pos-stc-xs"></li>
        		<li class="nav-item dropdown">
        			<a class="nav-link clear" href="#" data-toggle="dropdown">
        				<span class="avatar w-32">
        					<img src="http://flatfull.com/themes/flatkit/assets/images/a0.jpg" alt="..."> 
        					<i class="on b-white bottom"></i>
        				</span>
        			</a>
        		</li>
        	</ul>
			<div class="collapse navbar-toggleable-sm" id="collapse">
				<form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search" method='GET' action="/home/search" >
					<div class="form-group l-h m-a-0">
						<div class="input-group input-group-sm indexform">
							<select name="search_type" id="search_type" class="col-md-4 form-control ">
								<option value="1">物品编号</option>
								<option value="2">名称</option>
								<option value="3">供应商</option>
								<option value="4">备注</option>
								</select>
							<input type="text" class="form-control p-x b-a rounded col-md-8 indexinput" placeholder="Search projects..." name="content" value="{$content}"> 
							<span class="input-group-btn">
								<button type="submit" class="btn white b-a rounded no-shadow">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link" href="/home" data-toggle="dropdown">
							<span><img src="/static/images/wecailogo.png" alt="" style="height:30px"></span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav fr" style="margin-right:20px">
					<li class="nav-item dropdown">
						<a class="nav-link" href="/home/shopping" data-toggle="dropdown">
							<span><i class="fa fa-shopping-cart"></i> 购物车</span>
						</a>
					</li>
				</ul>
				<if condition='$Think.session.user.role eq 1||$Think.session.user.role eq 2'>
					<ul class="nav navbar-nav fr" style="margin-right:20px">
						<li class="nav-item dropdown">
							<a class="nav-link" href="/home/batch" data-toggle="dropdown">
								<span><i class="fa fa-file-excel-o"></i> 导入excel</span>
							</a>
						</li>
					</ul>
				</if>
				<if condition='$Think.session.user.role eq 1'>
					<ul class="nav navbar-nav fr" style="margin-right:20px">
						<li class="nav-item dropdown">
							<a class="nav-link" href="/home/user/userlist" data-toggle="dropdown">
								<span><i class="fa fa-users"></i> 管理用户</span>
							</a>
						</li>
					</ul>
				</if>
			</div>
        </div>
    </div>