<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>微采360|登录</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/global.css">
	<link rel="stylesheet" type="text/css" href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src='//cdn.bootcss.com/jquery/3.0.0/jquery.min.js'></script>
  <script>
    $(function(){
      var safecode=$('#safe').click(function(){
          $(this).attr('src',"/safecode?"+new Date());
      });
    })
  </script>
</head>
<style>
	.text-green{color:#44b549;}
	h1{font-size: 90px}
/*	html,body{
		background:#fff;
	}*/
</style>
<body class=" pace-done"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
  <div class="app" id="app">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
	<path d="M 4 4 L 44 4 L 44 44 Z" fill="#009688"></path>
	<path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
	<path d="M 4 4 L 24 4 L 4  44 Z" fill="#6cc788"></path>
</svg><img src="/static/images/wecailogo.png" alt="." class="hide"> <span class="hidden-folded inline">微采360</span></a>
      </div>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <form name="form" action="/home/login/login" method='POST'>
        <div class="md-form-group">
          <input type="text" class="md-input" ng-model="user.name" required=""  name="tel">
          <label>手机号</label>
        </div>
        <div class="md-form-group">
          <input type="password" class="md-input" ng-model="user.password" required="" name="password">
          <label>密码</label>
        </div>
        <div class="md-form-group" id="safe">
          <input type="mobile" class="md-input" ng-model="user.mobile" required="" style="margin-top:20px" name='safecode'>

          <label>验证码&nbsp;&nbsp;<img src="/safecode" alt="" style="height:30px;width:auto" id="safecode" > <a href="javascript:;">看不清楚，换一个</a></label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">登录</button>
      </form>
    </div>
  </div>

<!-- ############ LAYOUT END-->

  </div>


<div id="cli_dialog_div"></div></body>
</html> 