<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>微采360|购物车</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/app.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <link rel="stylesheet" type="text/css" href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src='//cdn.bootcss.com/jquery/3.0.0/jquery.min.js'></script>
   <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<style>
  html,body{background:#f0f0f0}
  .table td{
    line-height:3.5
  }
  .w-footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    border-top: 1px solid #f0f0f0;
    margin-top: 90px;

  }
/*  th{
    text-align:center;
  }*/
</style>
<script>
  var data=<?php echo json_encode($list);?>;
  var sum;//总价
  $(function(){
      $('.pronum').blur(function(){
          var proprice=$(this).parents('.pro').find('.proprice').val();
          var num=$(this).val();
          var in_id=$(this).attr('data-id');
          var total_price=$(this).parents('.pro').find('.total_price');
          data[in_id-1]['pro_num']=num;
          var pro_id=data[in_id-1]['pro_id'];
          $.post('/home/shopping/change_num',{pro_id:pro_id,num:num},function(ret){
              if(ret.status!=1){
                return false;
              }
          },'json');
          var total=(Number(num)*Number(proprice)).toFixed(2);
          total_price.html(total);
          gettotal();
      });
      $('.pronum').bind('keyup', function(event) {
        if (event.keyCode == "13") {
          var proprice=$(this).parents('.pro').find('.proprice').val();
          var num=$(this).val();
          var in_id=$(this).parents('.input-pm').find('input').attr('data-id');
          var total_price=$(this).parents('.pro').find('.total_price');
          data[in_id-1]['pro_num']=num;
          var pro_id=data[in_id-1]['pro_id'];
          $.post('/home/shopping/change_num',{pro_id:pro_id,num:num},function(ret){
              if(ret.status!=1){
                return false;
              }
          },'json');
          var total=(Number(num)*Number(proprice)).toFixed(2);
          total_price.html(total);
          gettotal();
        }
      });
      $('.proprice').bind('keyup', function(event) {
        if (event.keyCode == "13") {
          var total_price=$(this).parents('.pro').find('.total_price');
          var proprice=$(this).parents('.pro').find('.proprice').val();
          var num=$(this).parents('.pro').find('.pronum').val();
          var total=(Number(num)*Number(proprice)).toFixed(2);
          var p_id=$(this).attr('data-id');
          total_price.html(total);
          data[p_id-1]['price']=proprice;
          var pro_id=data[p_id-1]['pro_id'];
          $.post('/home/shopping/change_price',{pro_id:pro_id,price:proprice},function(ret){
              if(ret.status!=1){
                return false;
              }
              gettotal();
          },'json');
        }
      });
      $('.pm').click(function(){
          var proprice=$(this).parents('.pro').find('.proprice').val();
          var action=$(this).attr('data-a');
          var in_nnum=$(this).parents('.input-pm').find('input');
          var in_id=$(this).parents('.input-pm').find('input').attr('data-id');
          var total_price=$(this).parents('.pro').find('.total_price');
          var num=in_nnum.val();
          if(action=='plus'){
             num=parseInt(num)+1;
          }else if(action='minus'){
             if(num==1) return false;
             num=parseInt(num)-1;
          }
          in_nnum.val(num);
          data[in_id-1]['pro_num']=num;
          var pro_id=data[in_id-1]['pro_id'];
          $.post('/home/shopping/change_num',{pro_id:pro_id,num:num},function(ret){
              if(ret.status!=1){
                return false;
              }
          },'json');
          var total=(Number(num)*Number(proprice)).toFixed(2);
          total_price.html(total);
          gettotal();

      });
      $('.proprice').blur(function(){
          var total_price=$(this).parents('.pro').find('.total_price');
          var proprice=$(this).parents('.pro').find('.proprice').val();
          var num=$(this).parents('.pro').find('.pronum').val();
          var total=(Number(num)*Number(proprice)).toFixed(2);
          var p_id=$(this).attr('data-id');
          var pro_id=data[p_id-1]['pro_id'];
          $.post('/home/shopping/change_price',{pro_id:pro_id,price:proprice},function(ret){
              if(ret.status!=1){
                return false;
              }
          },'json');
          total_price.html(total);
          data[p_id-1]['price']=proprice;
          gettotal();

      });
      $('.export_excel').click(function(){
          //var str = data.toJSONString();
          var str = JSON.stringify(data);
          var sort=getsort();
          $('#form_sort').val(JSON.stringify(sort));
          $('#form_data').val(str);
          $('#excel_form').submit();

      });
      $('.delete').click(function(){
        if(confirm('确认删除？')){
            var shopping_id=$(this).attr('data-shop-id');
            var data_id=$(this).attr('data-id');
            var pro=$(this).parents('.pro');
            $.post('/home/shopping/del_id',{shopping_id:shopping_id},function(ret){
                if(ret.status==1){
                  data_id=data_id-1;
                  delete data[data_id];
                  pro.remove(); 
                  gettotal();

                }
            },'json');
        }else{
           return false;
        }
      });
      
      $('.out_pdf').click(function(){
          var str = JSON.stringify(data)
          var sort=getsort();
          $('#out_sort').val(JSON.stringify(sort));
          $('#out_html').val(str);
          $('#out_pdf').submit();
      });
    $( "#sortable" ).sortable({ 
        stop: function(event, ui) { 
        },
        opacity: 0.5,//拖动的透明度 
        revert: false, //缓冲效果 
        cursor: 'move', //拖动的时候鼠标样式 
      }); 
    $( "#sortable" ).disableSelection();
    function getsort(){
      var sort={};
      var i=0;
      $('.pro').each(function(){
        sort[i]=$(this).attr('list-id');
        i++;
      });
      return sort;
    }
    gettotal();
    function gettotal(){
       var sum=0;
       $('.total_price').each(function(){
            per_sum=$(this).html().replace(",","");
            sum=Number(sum)+Number(per_sum);
       });
       sum=Number(sum).toFixed(2);
       $('.totalsum').html(sum);
    }
  });
</script>
<body>
    <include file="./include-head" />
    <div ui-view="" class="app-body" id="view" style="margin-top:4rem!important">
    <div class='w-1000 white p-b-md'>
    <div class="box">
      <div class="box-header">
        <h3>购物车</h3>
      </div>
    <div class="table-responsive" >
      <table class="table table-striped b-t">
        <thead>
          <tr>
            <th style="width:100px;">
              <label class="ui-check m-a-0">
                <input type="checkbox" class="has-value"><i></i>
                全选
              </label>
            </th>
            <th></th>
            <th class="text-center">商品名称</th>
            <th class="text-center">参考单价</th>
            <th class="text-center">实际单价</th> 
            <th class="text-center" >数量</th>
            <th class="text-center">小计</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody  id="sortable"> 
          <volist name="list" id='list' > 
            <tr class="pro" list-id='{$i}'>
              <td>
                <label class="ui-check m-a-0"><input type="checkbox" name="post[]" class="has-value"><i class="dark-white"></i></label>
              </td>
              <td><img src="{$list.img}" alt="" style="max-height:40px;max-width:40px;overflow:hidden"></td>
              <td class="text-center">{$list.proname}</td>
              <td class="text-center">{$list.price}</td>
              <td style="padding-top:18px" class="text-center">
                  <input type="text" class="form-control proprice" data-id='{$i}' style="width:100px;margin:0 auto" value="{$list.price}">
              </td>
              <td style="padding-top:18px"> 
                <div class="input-group input-pm" style="width:100px;margin:0 auto">
                    <span class="input-group-btn">
                        <button class="btn btn-default pm" type="button" data-a='minus'>-</button>
                    </span>
                    <input type="text" class="form-control pronum" placeholder="1" style="width:100px;text-align:center;border-left:none" value="{$list.pro_num}" data-id='{$i}'>
                    <span class="input-group-btn">
                        <button class="btn btn-default pm" type="button" data-a='plus'>+</button>
                    </span>
                </div><!-- /input-group -->
              </td>
              <?php $total_price=number_format($list['pro_num']*$list['price'],2) ?>
              <td class="total_price text-center">{$total_price}</td>
              <td>
                <a href="javascript:;" class="delete" data-id='{$i}' data-shop-id='{$list.id}' ui-toggle-class="">&nbsp;&nbsp;<i class="fa fa-times text-danger inline"></i></a>
              </td>
            </tr>
          </volist>
        </tbody>
      </table>
      <p class="sum" style="text-align:right;font-size:24px;color:#ef4900;font-weight:bold;padding-right:20px">总价:<span class="totalsum">0</span></p>
    </div>
  </div>
  </div>
  </div>
  <div class="white w-footer">
    <div class="footer p-a p-x-md">
      <div class="row">
        <div class="col-sm-3 clearfix">
          <a class="navbar-brand">
            <span class="hidden-folded inline">微采360</span>
          </a>
        </div>
        <div class="col-sm-3 col-md-offset-5">
            <form action="/home/shopping/export_excel" method='POST' id="excel_form">
                <input type="hidden" name="sort" id="form_sort">
                <input type="hidden" name='data' id='form_data'>
            </form>
            <form action="/home/shopping/outpdf" method='POST' id="out_pdf">
                <input type="hidden" name="sort" id="out_sort">
                <input type="hidden" name='html' id="out_html">
            </form>
            <button class="btn btn-fw primary m-t out_pdf">导出PDF</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-fw primary m-t export_excel">导出Excel</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>